<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>craigslist</title>
    <link rel="stylesheet" type="text/css" href="./public/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet">
  </head>
  <body>
    <nav class = "nav">
      <h1>craigslist</h1>
        <div>
          <a href = "/all">all listings</a>
          <a href = "/">grouped listings</a>
        </div>
    </nav>
    <div class = "item-wrapper">
      <div class = 'price-header'>
        <div><h4>0 - $200</h4></div>
        <div><h4>There are {{items.length}} items in this price range.</h4></div>
    </div>
    {{#items}}
      <table>
        <tr>
          <td class = "item-title">{{title}}</td>
          <td class = "item-price">${{price}}</td>
          <td class = "item-date">{{date}}, 2017</td>
        </tr>
      </table>
    {{/items}}
</div>
  </body>
</html>
